<script src="fernetBrowser.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-base64@3.7.7/base64.min.js"></script>
<script type="text/javascript">
    async function sha256(string){
        //Make sure string is UTF-8
        const stringBuffer = new TextEncoder().encode(string);

        const hashBuffer = await crypto.subtle.digest('SHA-256', stringBuffer);

        const hashArray = new Uint8Array(hashBuffer);
        const hashBase64 = Base64.fromUint8Array(hashArray, true);

        return hashBase64;
    }

    function decrypt(encryptedText, fernetSecret) {
        const token = new fernet.Token({
          secret: fernetSecret,
          token: encryptedText,
          ttl: 0,
        });
        return token.decode();
    }

    const queryString = window.location.search;
    const urlParams = new URLSearchParams(queryString);
    if(urlParams.has('e')){
        console.log("Running encrypted post loading logic");
        const targetFile = urlParams.get('e');

        (async() => {
            const targetFileHash = await sha256(targetFile);
            console.log("Got encrypted file hash");
            const fernetSecret  = new fernet.Secret(targetFileHash);

            const targetFileEncryptedFetchResponse = await fetch(`./encrypted/${targetFileHash}/index.html`);
            const targetFileEncryptedContents = await targetFileEncryptedFetchResponse.text();
            console.log("Got encrypted file contents");

            const decryptedFile = decrypt(targetFileEncryptedContents, fernetSecret);
            console.log(decryptedFile);

            var newHTML = document.open("text/html", "replace");
            newHTML.write(decryptedFile);
            newHTML.close();
        })();
    }
</script>